{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'nav_bar.html' %}

  <!--Main layout-->
  <main class="mt-2 ">
    <div class="container">

      <hr class="my-5">

      <!--Section: Cards-->
      <section class="text-center">

        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">

          <!--Grid column-->
          {% for post in post %}
          <div class="col-lg-3 col-lg-16 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->

              <div class="view overlay">
                <div class="embed-responsive embed-responsive-16by9 rounded-top">
                  {% if post.img %}
                 <img class="embed-responsive-item" src="{{ post.img.url }}" ><img>
                {% endif %}
                </div>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title font-weight-bold" ><a href="{{ post.get_blog_url }}">{{ post.post_title }}</a></h4>
                <p> {{ post.date_published }} </p>
                <!--Text-->
                  <strong> POSTED BY {{ post.user }}</strong>
                </p>
                <p>Visit profile <a href="{{ post.user_profile_link }}">{{ post.user_profile_link }}</a></p>
              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->
          {% endfor %}

        </div>
        <!--Grid row-->


        {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          <!--Arrow left-->
          {% if page_obj.has_previous %}
          <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.previous_page_number}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <!--Pagination-->
    {% endif %}

      </section>
      <!--Section: Cards-->

    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->

{% endblock content %}